body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.container {
    max-width: 1320px;
    margin: 0 140px;
    width: auto;
    align-items: center;
}

.header {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url(resources/Banner\ Image.png);
    height: 600px;
    margin-top: 50px;
    border-radius: 16px;

}

.banner-heading {
    padding: 120px 345px;
    row-gap: 16px;

}

.banner-heading .h3 {
    color: #fff;
    text-align: center;
    font-size: 32px;
}

.banner-heading .h1 {
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.offer {
    margin: 100px 390px;
    align-items: center;
    background: #fff;
    margin-top: 100px;
}

.offer-text {
    text-align: center;
    gap: 20px;
}

.offer-text-01 {
    gap: 30px;
}

.offer-text-01 h1 {
    color: red;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 40px;
}

.offer-text-01 p {
    font-size: 25px;
    font-weight: 500;
    color: red;
    margin-bottom: 0;
}

.offer-text-02 {
    font-size: 48px;
    font-weight: 700;
    color: #070211;
    margin-top: 5px;
}

.offer-img {
    width: 50%;
    height: 500px;
    text-align: center;

}

.welcome {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Vectorrr.png);
    width: auto;
    height: 600px;
    margin-top: 100px;
}

.welcome-text {
    padding: 50px 550px 140px 156px;

}

.welcome-text h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 8px;
    margin-bottom: 0;
}

.welcome-text p {
    color: rgba(255, 255, 255, 0.791);
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
}

.welcome-button {
    color: #fff;
    border: none;
    border-radius: 5px;
    background: none;
    text-align: center;
    width: 120px;
}

.party-detail {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 480px;
    text-align: center;
    padding: 100px 360px;
    margin-top: 100px;
}

.party-detail-button {
    background: red;
    color: #fff;
    padding: 16px 32px;
    border-radius: 10px;
    border: none;
}

.party-detail-button:hover {
    background: rebeccapurple;
    transition: 1s;
}

.announcement {
    margin-top: 100px;
    justify-content: space-between;
    display: flex;
    gap: 15px;
}

.announcement-offer {
    width: 390px;
    height: auto;
    text-align: left;
}

.announcement-offer h3 {
    color: red;
    font-size: 24px;
    font-weight: 500px;
    margin-bottom: 0;
}

.announcement-offer h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-top: 4px;
    margin-bottom: 0;
}

.announcement-offer p {
    color: #070211;
}

.announcement-grtings {
    width: 350px;
    height: auto;
    text-align: left;
}

.announcement-img {
    width: 365px;
    height: 365px;
    text-align: center;
    border: 35px solid rebeccapurple;
    border-radius: 460px;
    /* padding: 20px; */
    border-style: ridge;
}

.test {

    height: 1000px;
    margin-top: 100px;
    color: aquamarine;
    text-align: center;
    border: 2px solid black;
    background-color: azure;
}