body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.container {
    max-width: 1320px;
    margin: 0 140px;
    width: auto;
    /* align-items: center; */
}

.header {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url(resources/Banner\ Image.png);
    height: 600px;
    margin-top: 50px;
    border-radius: 16px;

}

.banner-heading {
    padding: 120px 345px;
    row-gap: 16px;

}

.banner-heading .h3 {
    color: #fff;
    text-align: center;
    font-size: 32px;
}

.banner-heading .h1 {
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.offer {
    margin: 100px 390px;
    align-items: center;
    background: #fff;
    margin-top: 100px;
}

.offer-text {
    text-align: center;
}

.offer-text .heading1 {
    color: red;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0;
}

.offer-text .para1 {
    margin-top: 10px;
    color: red;
    font-size: 24px;
    font-weight: 500;
}

.offer-text .heading2 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
}

.offer-img {
    /* width: 40%;
    height: 500px; */
    text-align: center;

}

.welcome {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Vectorrr.png);
    background-size: cover;
    width: auto;
    height: 600px;
    margin-top: 100px;
}

.welcome-text {
    padding: 50px 550px 140px 156px;

}

.welcome-text h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 8px;
    margin-bottom: 0;
}

.welcome-text p {
    color: rgba(255, 255, 255, 0.791);
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
}

.welcome-button {
    color: #fff;
    border: none;
    border-radius: 5px;
    background: none;
    text-align: center;
    width: 120px;
}

.party-detail {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 25.5%;
    height: 300px;
    text-align: center;
    padding: 100px 360px;
    margin-top: 100px;
}

.party-detail-text span {
    color: red;
}

.party-detail-button {
    background: red;
    color: #fff;
    padding: 16px 32px;
    border-radius: 10px;
    border: none;
}

.party-detail-button:hover {
    background: rebeccapurple;
    transition: 1s;
}

.announcement {
    margin-top: 100px;
    justify-content: space-between;
    display: flex;
    gap: 15px;
}

.announcement-offer {
    width: 350px;
    height: auto;
    text-align: left;
}

.announcement-offer h3,
.portfolio-text h3,
{
color: red;
font-size: 24px;
font-weight: 500px;
margin-bottom: 0;
}

.announcement-offer h1,
.portfolio-text h1,
.newsletter-text h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-top: 4px;
    margin-bottom: 0;
}

.announcement-offer p,
.portfolio-text p,
.newsletter-text p {
    color: #070211;
}

.announcement-grtings {
    width: 350px;
    height: auto;
    text-align: left;
}

.announcement-img {
    width: 365px;
    height: 365px;
    text-align: center;
    border: 35px solid rebeccapurple;
    border-radius: 460px;
    /* padding: 20px; */
    border-style: ridge;
}

.announcement-grtings h1 {
    color: red;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
}

.announcement-grtings p {
    color: #070211;
    margin-top: 5px;
    margin-bottom: 18px;
}

.announcement-grtings img {
    margin-top: 16px;
}

.portfolio {
    width: 80%;
    background-color: #f2dddd90;
    margin-top: 100px;
}

.portfolio-img {
    gap: 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-img img {
    width: 400px;
}

.newsletter {
    margin-top: 100px;
    text-align: center;
    background: rgba(255, 0, 0, 0.05);
}

.newsletter-icon img {
    padding: 80px;
    padding-bottom: 0;
}

.newsletter-text h1 {
    padding-top: 0;
}

.newsletter-subscribe {
    padding: 50px 0;
}

.newsletter-subscribe input {
    border: none;
    height: 30px;
    width: 40%;
    padding: 16px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;

}

.newsletter-subscribe button {
    height: 60px;
    width: 20%;
    border: none;
    border-radius: 0 50px 50px 0;
    margin-left: -35px;
    background-color: red;
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}

.footer {
    background-color: #070211;
    width: 100%;
}

.footer-text {
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 80px 240px 0px 140px;
}

.copywrite-footer {
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 40px 240px 40px 140px;
}

.copywrite-footer button {
    border: none;
    font-size: 24px;
    font-weight: 500;
    background: inherit;
    color: #fff
}

.footer .social-contact {
    gap: 24px;
    display: flex;
    padding: 0% 40%;
}


.holidaysSale-images .top {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;

}

.top .top-01 {
    margin-bottom: -120px;
    width: 400px;
    z-index: 1;
}

.top .top-02 {
    width: fit-content;
    margin-right: -590px;
    z-index: 2;
}

.top .top-03 {
    width: 450px;
    padding-left: 50px;
    text-align: right;
    margin-bottom: -120px;
}

.holidaysSale-images {
    margin-top: 5px;
}

.holidaysSale-images .base {
    margin-top: -115px;
}

.holidaysSale-text {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.holidaysSale-text span {
    color: red;

}

.holidaysSale-text h3 {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 5px;
}

.holidaysSale-text h1 {
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

.holidaysSale-text p {
    color: #100e13;
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
}