body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.container {
    max-width: 1320px;
    margin: 0 140px;
}

.header {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url(resources/Banner\ Image.png);
    width: auto;
    height: 600px;
    margin-top: 50px;
    border-radius: 16px;

}

.banner-heading {
    padding: 120px 345px;
    row-gap: 16px;

}

.banner-heading .h3 {
    color: #fff;
    text-align: center;
    font-size: 32px;
}

.banner-heading .h1 {
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.offer {
    margin: 100px 390px;
    align-items: center;
    background: #fff;
}

.offer-text {
    text-align: center;
    gap: 20px;
}

.offer-text-01 {
    gap: 30px;
}

.offer-text-01 h1 {
    color: red;
    font-size: 80px;
    font-weight: 800;
}

.offer-text-01 p {
    font-size: 25px;
    font-weight: 500;
    color: red;
}

.offer-text-02 {
    font-size: 48px;
    font-weight: 700;
    color: #070211;
}

.offer-img {
    width: 50%;
    height: 500px;

}